<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- WinPrint 2.0 GUIDS are documented in \WinPrint.Core\Models\Uuid.cs -->
	<Product Id="0002A501-0000-0000-C000-000000000046" 
           Manufacturer="Kindel Systems" 
           Name="WinPrint" Version="2.0.0.0" 
           Language="1033" 
           UpgradeCode="0002A500-0000-0000-C000-000000000046">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- EmbedCab="yes" gives a single, self-contained file for download -->
      <MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="WinPrint.Install" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <!-- See https://docs.microsoft.com/en-us/previous-versions//aa372057(v=vs.85) -->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="[ProductName]" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			 <Component Id="WinPrint.Console"> 
				  <File Id="WinPrint.Console" Name="WinPrint Console App" Source="winprint.exe" KeyPath="yes"/>
			 </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>
