<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="0002a501-0000-0000-c000-0000200003c1" Name="WinPrint" Language="1033" Codepage="Windows-1252" Version="2.0.0.890" UpgradeCode="0002a500-0000-0000-c000-000000000046" Manufacturer="Kindel Systems">
    <Package InstallerVersion="200" Compressed="yes" Platform="x64" SummaryCodepage="Windows-1252" Languages="1033" />
    <Media Id="1" Cabinet="WinPrint.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="ProgramFiles64Folder">
        <Directory Id="ProgramFiles64Folder.Kindel_Systems" Name="Kindel Systems">
          <Directory Id="INSTALLDIR" Name="WinPrint">

            <Component Id="Component.winprint_exe" Guid="0002a501-0000-0000-c000-0000152a9287" Win64="yes">
              <File Id="winprint_exe" Source="winprint.exe" />
            </Component>

            <Component Id="Component.winprintgui_exe" Guid="0002a501-0000-0000-c000-0000964d9468" Win64="yes">
              <File Id="winprintgui_exe" Source="winprintgui.exe" KeyPath="yes">
                <Shortcut Id="Shortcut.winprintgui_exe.WinPrint__" WorkingDirectory="INSTALLDIR" Directory="INSTALLDIR" Name="WinPrint.lnk" Advertise="yes" />
              </File>
            </Component>

            <Component Id="Component.CommandLine.dll_3989444205" Guid="0002a501-0000-0000-c000-0000ad89f9f3" Win64="yes">
              <File Id="CommandLine.dll_3989444205" Source="CommandLine.dll" />
            </Component>

            <Component Id="Component.GalaSoft.MvvmLight.dll_1846337950" Guid="0002a501-0000-0000-c000-000069dedc19" Win64="yes">
              <File Id="GalaSoft.MvvmLight.dll_1846337950" Source="GalaSoft.MvvmLight.dll" />
            </Component>

            <Component Id="Component.LiteHtmlSharp.dll_493445706" Guid="0002a501-0000-0000-c000-0000c2f23b4a" Win64="yes">
              <File Id="LiteHtmlSharp.dll_493445706" Source="LiteHtmlSharp.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.Configuration.Abstractions.dll_2543247260" Guid="0002a501-0000-0000-c000-00009166df3f" Win64="yes">
              <File Id="Microsoft.Extensions.Configuration.Abstractions.dll_2543247260" Source="Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.Configuration.Binder.dll_1286514189" Guid="0002a501-0000-0000-c000-0000e29df3ec" Win64="yes">
              <File Id="Microsoft.Extensions.Configuration.Binder.dll_1286514189" Source="Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.Configuration.dll_206885240" Guid="0002a501-0000-0000-c000-000037cfe600" Win64="yes">
              <File Id="Microsoft.Extensions.Configuration.dll_206885240" Source="Microsoft.Extensions.Configuration.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.DependencyInjection.Abstractions.dll_161982690" Guid="0002a501-0000-0000-c000-0000368021c6" Win64="yes">
              <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll_161982690" Source="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.DependencyInjection.dll_1562897118" Guid="0002a501-0000-0000-c000-00009963af02" Win64="yes">
              <File Id="Microsoft.Extensions.DependencyInjection.dll_1562897118" Source="Microsoft.Extensions.DependencyInjection.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.Logging.Abstractions.dll_3326678469" Guid="0002a501-0000-0000-c000-0000fd65c79a" Win64="yes">
              <File Id="Microsoft.Extensions.Logging.Abstractions.dll_3326678469" Source="Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.Logging.dll_3761780517" Guid="0002a501-0000-0000-c000-000070e2fd99" Win64="yes">
              <File Id="Microsoft.Extensions.Logging.dll_3761780517" Source="Microsoft.Extensions.Logging.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.Options.dll_886065570" Guid="0002a501-0000-0000-c000-0000a44ca088" Win64="yes">
              <File Id="Microsoft.Extensions.Options.dll_886065570" Source="Microsoft.Extensions.Options.dll" />
            </Component>

            <Component Id="Component.Microsoft.Extensions.Primitives.dll_2191064085" Guid="0002a501-0000-0000-c000-00006e07ce99" Win64="yes">
              <File Id="Microsoft.Extensions.Primitives.dll_2191064085" Source="Microsoft.Extensions.Primitives.dll" />
            </Component>

            <Component Id="Component.Microsoft.Win32.SystemEvents.dll_505797933" Guid="0002a501-0000-0000-c000-000029c7ea49" Win64="yes">
              <File Id="Microsoft.Win32.SystemEvents.dll_505797933" Source="Microsoft.Win32.SystemEvents.dll" />
            </Component>

            <Component Id="Component.Serilog.dll_2482625690" Guid="0002a501-0000-0000-c000-00000bf71061" Win64="yes">
              <File Id="Serilog.dll_2482625690" Source="Serilog.dll" />
            </Component>

            <Component Id="Component.Serilog.Sinks.Console.dll_3418103813" Guid="0002a501-0000-0000-c000-0000cc5d503c" Win64="yes">
              <File Id="Serilog.Sinks.Console.dll_3418103813" Source="Serilog.Sinks.Console.dll" />
            </Component>

            <Component Id="Component.Serilog.Sinks.Debug.dll_1196206711" Guid="0002a501-0000-0000-c000-00004be1778a" Win64="yes">
              <File Id="Serilog.Sinks.Debug.dll_1196206711" Source="Serilog.Sinks.Debug.dll" />
            </Component>

            <Component Id="Component.Serilog.Sinks.File.dll_2705002948" Guid="0002a501-0000-0000-c000-00006613ae84" Win64="yes">
              <File Id="Serilog.Sinks.File.dll_2705002948" Source="Serilog.Sinks.File.dll" />
            </Component>

            <Component Id="Component.System.Drawing.Common.dll_2218408729" Guid="0002a501-0000-0000-c000-0000d142b100" Win64="yes">
              <File Id="System.Drawing.Common.dll_2218408729" Source="System.Drawing.Common.dll" />
            </Component>

            <Component Id="Component.System.Linq.Dynamic.Core.dll_3262736072" Guid="0002a501-0000-0000-c000-0000e1b2133e" Win64="yes">
              <File Id="System.Linq.Dynamic.Core.dll_3262736072" Source="System.Linq.Dynamic.Core.dll" />
            </Component>

            <Component Id="Component.WinPrint.Core.dll_1644500892" Guid="0002a501-0000-0000-c000-00007dfcf40b" Win64="yes">
              <File Id="WinPrint.Core.dll_1644500892" Source="WinPrint.Core.dll" />
            </Component>

            <Component Id="Component.winprint.dll_929763881" Guid="0002a501-0000-0000-c000-00004c5605d4" Win64="yes">
              <File Id="winprint.dll_929763881" Source="winprint.dll" />
            </Component>

            <Component Id="Component.WinPrint.LiteHtml.dll_113544235" Guid="0002a501-0000-0000-c000-0000a8ab29e7" Win64="yes">
              <File Id="WinPrint.LiteHtml.dll_113544235" Source="WinPrint.LiteHtml.dll" />
            </Component>

            <Component Id="Component.winprintgui.dll_3603316277" Guid="0002a501-0000-0000-c000-00008b2b31e4" Win64="yes">
              <File Id="winprintgui.dll_3603316277" Source="winprintgui.dll" />
            </Component>

            <Component Id="Component.WinPrint.config.json_841462239" Guid="0002a501-0000-0000-c000-00001079dbf1" Win64="yes">
              <File Id="WinPrint.config.json_841462239" Source="WinPrint.config.json" />
            </Component>

            <Component Id="Component.winprint.deps.json_1111859072" Guid="0002a501-0000-0000-c000-000082ba34ba" Win64="yes">
              <File Id="winprint.deps.json_1111859072" Source="winprint.deps.json" />
            </Component>

            <Component Id="Component.winprint.runtimeconfig.json_1125970311" Guid="0002a501-0000-0000-c000-0000d4fc6020" Win64="yes">
              <File Id="winprint.runtimeconfig.json_1125970311" Source="winprint.runtimeconfig.json" />
            </Component>

            <Component Id="Component.winprintgui.deps.json_3688077211" Guid="0002a501-0000-0000-c000-0000790a89b2" Win64="yes">
              <File Id="winprintgui.deps.json_3688077211" Source="winprintgui.deps.json" />
            </Component>

            <Component Id="Component.winprintgui.runtimeconfig.json_2178300737" Guid="0002a501-0000-0000-c000-000083b01e1d" Win64="yes">
              <File Id="winprintgui.runtimeconfig.json_2178300737" Source="winprintgui.runtimeconfig.json" />
            </Component>

            <Component Id="Component.Uninstall_WinPrint" Guid="0002a501-0000-0000-c000-000006cef94a" Win64="yes">
              <Shortcut Id="INSTALLDIR.Uninstall_WinPrint" WorkingDirectory="System64Folder" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Name="Uninstall WinPrint.lnk" />

              <CreateFolder />
              <RemoveFolder Id="INSTALLDIR" On="uninstall" />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Directory Id="INSTALLDIR.logs" Name="logs">

              <Component Id="Component.INSTALLDIR.logs.EmptyDirectory" Guid="0002a501-0000-0000-c000-00000d3ee7c4" KeyPath="yes" Win64="yes">
                <CreateFolder />
                <RemoveFolder Id="INSTALLDIR.logs" On="uninstall" />
              </Component>

            </Directory>

            <Directory Id="INSTALLDIR.runtimes" Name="runtimes">
              <Directory Id="INSTALLDIR.runtimes.unix" Name="unix">
                <Directory Id="INSTALLDIR.runtimes.unix.lib" Name="lib">
                  <Directory Id="INSTALLDIR.runtimes.unix.lib.netcoreapp3.0" Name="netcoreapp3.0">

                    <Component Id="Component.System.Drawing.Common.dll_1930615101" Guid="0002a501-0000-0000-c000-000051a7e4cf" Win64="yes">
                      <File Id="System.Drawing.Common.dll_1930615101" Source="runtimes\unix\lib\netcoreapp3.0\System.Drawing.Common.dll" />
                    </Component>

                  </Directory>
                </Directory>
              </Directory>

              <Directory Id="INSTALLDIR.runtimes.win" Name="win">
                <Directory Id="INSTALLDIR.runtimes.win.lib" Name="lib">
                  <Directory Id="INSTALLDIR.runtimes.win.lib.netcoreapp3.0" Name="netcoreapp3.0">

                    <Component Id="Component.Microsoft.Win32.SystemEvents.dll_493451995" Guid="0002a501-0000-0000-c000-0000537b0bd7" Win64="yes">
                      <File Id="Microsoft.Win32.SystemEvents.dll_493451995" Source="runtimes\win\lib\netcoreapp3.0\Microsoft.Win32.SystemEvents.dll" />
                    </Component>

                    <Component Id="Component.System.Drawing.Common.dll_2169848645" Guid="0002a501-0000-0000-c000-0000620feaf9" Win64="yes">
                      <File Id="System.Drawing.Common.dll_2169848645" Source="runtimes\win\lib\netcoreapp3.0\System.Drawing.Common.dll" />
                    </Component>

                  </Directory>
                </Directory>
              </Directory>
            </Directory>

            <Directory Id="INSTALLDIR.x64" Name="x64">

              <Component Id="Component.LiteHtmlLib.dll_1376397186" Guid="0002a501-0000-0000-c000-0000ac41ee43" Win64="yes">
                <File Id="LiteHtmlLib.dll_1376397186" Source="x64\LiteHtmlLib.dll" />
              </Component>

            </Directory>

            <Component Id="PATH" Guid="0002a501-0000-0000-c000-000077cc6f1c" KeyPath="yes" Win64="yes">
              <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Action="set" Part="last" />

              <CreateFolder />
            </Component>

          </Directory>

          <Component Id="ProgramFiles64Folder.Kindel_Systems" Guid="0002a501-0000-0000-c000-0000ac202de3" KeyPath="yes" Win64="yes">
            <CreateFolder />
            <RemoveFolder Id="ProgramFiles64Folder.Kindel_Systems" On="uninstall" />
          </Component>

        </Directory>
      </Directory>

      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <Directory Id="Kindel_Systems" Name="Kindel Systems">
          <Directory Id="Kindel_Systems.WinPrint" Name="WinPrint">

            <Component Id="Component.Kindel_Systems.WinPrint.EmptyDirectory" Guid="0002a501-0000-0000-c000-0000042bab3f" Win64="yes">
              <CreateFolder />
              <RemoveFolder Id="Kindel_Systems.WinPrint" On="uninstall" />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

          </Directory>

          <Component Id="Kindel_Systems" Guid="0002a501-0000-0000-c000-0000c2c850da" Win64="yes">
            <CreateFolder />
            <RemoveFolder Id="Kindel_Systems" On="uninstall" />

            <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
              <RegistryValue Value="0" Type="string" KeyPath="yes" />
            </RegistryKey>
          </Component>

        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
        <Directory Id="Kindel_Systems.1" Name="Kindel Systems">
          <Directory Id="Kindel_Systems.1.WinPrint" Name="WinPrint">

            <Component Id="Component.WinPrint___" Guid="0002a501-0000-0000-c000-000060843187" Win64="yes">
              <Shortcut Id="Kindel_Systems.1.WinPrint.WinPrint___" WorkingDirectory="INSTALLDIR" Target="[INSTALLDIR]winprintgui.exe" Name="WinPrint.lnk" />

              <CreateFolder />
              <RemoveFolder Id="Kindel_Systems.1.WinPrint" On="uninstall" />

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

          </Directory>

          <Component Id="Kindel_Systems.1" Guid="0002a501-0000-0000-c000-000053f0ba23" Win64="yes">
            <RemoveFolder Id="Kindel_Systems.1" On="uninstall" />

            <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
              <RegistryValue Value="0" Type="string" KeyPath="yes" />
            </RegistryKey>
          </Component>

        </Directory>
      </Directory>
    </Directory>

    <UI />

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." Schedule="afterInstallInitialize" />

    <CustomAction Id="Set_ARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" Return="check" Execute="immediate" />
    <CustomAction Id="Set_ARPNOMODIFY" Property="ARPNOMODIFY" Value="True" Return="check" Execute="immediate" />

    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPCOMMENTS" Value="WinPrint by Charlie Kindel" />
    <Property Id="ARPCONTACT" Value="Charlie Kindel (charlie@kindel.com)" />
    <Property Id="ARPHELPLINK" Value="https://github.com/tig/winprint" />
    <Property Id="ARPREADME" Value="https://github.com/tig/winprint" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/tig/winprint" />
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/tig/winprint" />
    <Property Id="REINSTALLMODE" Value="omus" />

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="PATH" />
      <ComponentRef Id="Component.winprint_exe" />
      <ComponentRef Id="Component.winprintgui_exe" />
      <ComponentRef Id="Component.CommandLine.dll_3989444205" />
      <ComponentRef Id="Component.GalaSoft.MvvmLight.dll_1846337950" />
      <ComponentRef Id="Component.LiteHtmlSharp.dll_493445706" />
      <ComponentRef Id="Component.Microsoft.Extensions.Configuration.Abstractions.dll_2543247260" />
      <ComponentRef Id="Component.Microsoft.Extensions.Configuration.Binder.dll_1286514189" />
      <ComponentRef Id="Component.Microsoft.Extensions.Configuration.dll_206885240" />
      <ComponentRef Id="Component.Microsoft.Extensions.DependencyInjection.Abstractions.dll_161982690" />
      <ComponentRef Id="Component.Microsoft.Extensions.DependencyInjection.dll_1562897118" />
      <ComponentRef Id="Component.Microsoft.Extensions.Logging.Abstractions.dll_3326678469" />
      <ComponentRef Id="Component.Microsoft.Extensions.Logging.dll_3761780517" />
      <ComponentRef Id="Component.Microsoft.Extensions.Options.dll_886065570" />
      <ComponentRef Id="Component.Microsoft.Extensions.Primitives.dll_2191064085" />
      <ComponentRef Id="Component.Microsoft.Win32.SystemEvents.dll_505797933" />
      <ComponentRef Id="Component.Serilog.dll_2482625690" />
      <ComponentRef Id="Component.Serilog.Sinks.Console.dll_3418103813" />
      <ComponentRef Id="Component.Serilog.Sinks.Debug.dll_1196206711" />
      <ComponentRef Id="Component.Serilog.Sinks.File.dll_2705002948" />
      <ComponentRef Id="Component.System.Drawing.Common.dll_2218408729" />
      <ComponentRef Id="Component.System.Linq.Dynamic.Core.dll_3262736072" />
      <ComponentRef Id="Component.WinPrint.Core.dll_1644500892" />
      <ComponentRef Id="Component.winprint.dll_929763881" />
      <ComponentRef Id="Component.WinPrint.LiteHtml.dll_113544235" />
      <ComponentRef Id="Component.winprintgui.dll_3603316277" />
      <ComponentRef Id="Component.WinPrint.config.json_841462239" />
      <ComponentRef Id="Component.winprint.deps.json_1111859072" />
      <ComponentRef Id="Component.winprint.runtimeconfig.json_1125970311" />
      <ComponentRef Id="Component.winprintgui.deps.json_3688077211" />
      <ComponentRef Id="Component.winprintgui.runtimeconfig.json_2178300737" />
      <ComponentRef Id="Component.Uninstall_WinPrint" />
      <ComponentRef Id="Component.INSTALLDIR.logs.EmptyDirectory" />
      <ComponentRef Id="Component.System.Drawing.Common.dll_1930615101" />
      <ComponentRef Id="Component.Microsoft.Win32.SystemEvents.dll_493451995" />
      <ComponentRef Id="Component.System.Drawing.Common.dll_2169848645" />
      <ComponentRef Id="Component.LiteHtmlLib.dll_1376397186" />
      <ComponentRef Id="Component.Kindel_Systems.WinPrint.EmptyDirectory" />
      <ComponentRef Id="Component.WinPrint___" />
      <ComponentRef Id="ProgramFiles64Folder.Kindel_Systems" />
      <ComponentRef Id="Kindel_Systems" />
      <ComponentRef Id="Kindel_Systems.1" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="Set_ARPINSTALLLOCATION" After="CostFinalize"> (NOT Installed) </Custom>
      <Custom Action="Set_ARPNOMODIFY" After="CostFinalize"> (NOT Installed) </Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>

