---
---

@import "{{ site.theme }}";

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: middle;
  }

  body{
    background-color: ##232323;
    font-size: 11pt;
    color: white;
    font-family: "Tahoma", arial, sans-serif;
}

a {
    color: #76787d;
}

h1, h2, h3 {
    font-family: "Tahoma", arial, sans-serif;
    line-height: 1.3;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    color: #ccd0dc;
    margin: 36px 0 10px;
}

h1.header {
    font-family: "Tahoma", arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3em;
    border-bottom: none;
    margin-top: 0;
}

pre {
    color: #ccd0dc;
    padding: 4px 12px;
    border-radius: 4px;
    overflow: auto;
    overflow-y: hidden;
    margin-bottom: 20px;
    line-height: 1.5em;
}

code {
    font-family: "Cascadia Code", "Lucida Console", Terminal, monospace;
    font-size: 10pt;
    color: white;
    background: ##03050c;
    border: 1px solid #39393c;
    border-radius: 2px;
    padding: 2px 2px;
}

pre code {
    border: unset;
}

.highlight {
    background: #ffe8d1;
}

a.document {
    background: url(../images/document.png) no-repeat 1px;
}

header {
    background-color: ##55555;
    border: 0px solid #000000;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

header li {
    border: unset;
    background: linear-gradient(to top, #17191f 0%, #232323 100%);
    box-shadow: inset 0px 1px 1px 0 #2d3a63;
}

header img{
   border: none;
}





