/**
 * prism.js WinPrint theme 
 * Based on prism-coy.css
 * @author Charlie Kindel
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    /* *font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
    /* HACK: note 'winprint' font at end. */
    font-family: 'Cascadia Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, winprint;
    font-size: 7pt;
}

code[class*="language"] {
    max-height: inherit;
    height: inherit;
    display: block;
    overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    position: relative;
    color: #c92c2c;
    display: inline;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988;
    font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string,
.token.attr-value {
    color: #e3116c;
}

.token.punctuation,
.token.operator {
    color: #393A34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
    padding-left: 0;
}

    pre[class*="language-"].line-numbers.line-numbers code {
        padding-left: 3.8em;
    }

    pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
        left: 0;
    }

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

pre[data-line] code {
    position: relative;
    padding-left: 4em;
}

pre .line-highlight {
    margin-top: 0;
}
